 h4{
     text-align: center;
 }

.rem{
    margin-right: 5px;
    margin-left: 5px;
}
a{
    text-decoration: none;
    cursor: pointer;
}

a:hover,
a:active{
    transform: scale(1.16);
    -webkit-transform: scale(1.16);
}