
 h1{
     font-family: sans-serif;
     text-align: center;
 }
 .devImg{
     width:400px;
     height: auto;
    border-radius: 22px 22px 0px 0px;
     align-items: bottom;
     vertical-align: middle;
      
      
 
 }
 .contc{
     position: absolute;
     border: 1px solid;
     margin-top:50px;
     left:37%;
    border-radius:22px;
    background: #00aff0;
     
    align-content: center;
     
 }
 .nav{
      
     list-style: none;
     margin: 0px;
     padding: 0;
      
     
 }

 .elem1,
 .elem2,
 .elem3,
 .elem4,
 .elem5,
 .elem6{
     display: inline-block;

     border: 1px solid;
     font-size: 40px;
     padding:15.6px;
      
 }

 .elem6
 {
     border-radius: 0px 0px 22px 0px;
     background-color: #00aff0;
     border-color: #00aff0;
 }
 .elem1{
     border-radius: 0px 0px 0px 22px;
     background: #3b5998;
     border-color: #3b5998 ;
 }
 .elem2{
    background: #d6249f;
    border-color: #d6249f;
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
 }
 .elem3{
     background:  #00acee;
     border-color: #00acee;
 }
 .elem4{
     background: #87ceeb;
     border-color: #87ceeb;
 }
 .elem5{
     border-color: #ff2700;
    background: #ff2700;
 }
  
 a {
    list-style: none;
    text-decoration: none;
    color: rgba(245, 245, 245, 0.603);
}