 
 <div [@expand]>
 <h1>AUTHOR : Rahul kumar</h1>
 <div class="contc">
      
      <img class="devImg" src="../../assets/dev.JPG" alt="Rahul kumar">
       
       
           <ul class="nav">
              <li class="elem1"><a href="#"><i class="fa fa-facebook"></i></a></li>
              <li class="elem2"><a href="https://www.instagram.com/rakzool31/"><i class="fa fa-instagram"></i></a></li>
              <li class="elem3"><a href="https://www.twitter.com/rakzool20/"><i class="fa fa-twitter"></i></a></li>
              <li class="elem4"><a href="cllto:+917007650579"><i class="fa fa-phone"></i></a></li>
             <li class="elem5"><a href="mailto: rahulmob.3607@gmail.com"><i class="fa fa-envelope"></i></a></li>
             <li class="elem6"><a href="https://join.skype.com/invite/ycKVJWEf61x0"><i class="fa fa-skype" aria-hidden="true"></i></a></li>
           </ul>
        
    

 </div>
 </div>
 