/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/theming';
@include mat-core();
$los-primary: mat-palette($mat-indigo);
$los-accent: mat-palette($mat-pink, A200, A100, A400);
$los-warn: mat-palette($mat-red);
$los-theme: mat-light-theme($los-primary, $los-accent, $los-warn);
@include angular-material-theme($los-theme);

@import 'variables';
@import '../node_modules/font-awesome/scss/font-awesome';


.container {
     
    display:flex;
 }
 .flex-spacer {
    flex: 1 1 auto;
  }