.flexhead{
    display: flex;
    flex-wrap: wrap;
}
.flex-item1{
    flex: 1;
    margin-top: 10px;
    border:1px solid;
    margin-right: 10px;
    border-radius: 12px;
    background-color: #8080809d;  

}
.flex-item2{
    align-items: flex-start;
    flex:5;
   
}