 
 <div class="filter">
     <span>  <span class="fa fa-filter fa-lg"></span> FILTER:</span>
     <select class="bommer">
         <option *ngFor ="let filter of filterlist" selected="None">{{filter}}</option>
     </select>
 </div>
 <div color="primary">
    <ul>
       <li><a mat-button routerLink ="/home" ><span class="fa fa-home fa-lg"></span> Home</a></li>
       <li><a mat-button routerLink ="/about"><span class="fa fa-info fa-lg"></span> About</a></li>
       <li><a mat-button routerLink ="/category"><span class="fa fa-list fa-lg"></span> Category</a></li>
       <li><a mat-button routerLink ="/contact" ><span class="fa fa-address-card fa-lg"></span> Contact</a></li>
       <li><a mat-button (click)="openLoginForm()"><span class="fa fa-sign-in fa-lg">Login</span></a></li>
       <li><a mat-button><span class="fa fa-map-marker fa-lg"> Store near me</span></a></li>
    </ul>
 </div>